[submodule "vimfiles/bundle/solarized"]
	path = vimfiles/bundle/solarized
	url = git+ssh://git@github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/vim-ps1"]
	path = vimfiles/bundle/vim-ps1
	url = git+ssh://git@github.com/PProvost/vim-ps1.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = git+ssh://git@github.com/tpope/vim-markdown
[submodule "vimfiles/bundle/molokai"]
	path = vimfiles/bundle/molokai
	url = https://github.com/tomasr/molokai.git
