[submodule "vimfiles/bundle/solarized"]
	path = vimfiles/bundle/solarized
	url = git+ssh://git@github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/color/molokai"]
	path = vimfiles/color/molokai
	url = git+ssh://git@github.com/tomasr/molokai.git
